<%= form_with(model: ingredient_purchase, class: 'border rounded drop-shadow p-4 inline-block mx-auto') do |form| %>
  <div class="my-4">
    <%= form.label :ingredient_id, class: 'input-label' %>
    <%= form.collection_select :ingredient_id, Ingredient.order(name: :asc), :id, :name, {}, { class: 'input-field w-full', data: { 'use-select2': true }} %>
  </div>

  <div class="my-4">
    <%= form.label :purchased_on, class: 'input-label' %>
    <%= form.date_field :purchased_on, class: 'input-field' %>
  </div>

  <div class="my-4">
    <%= form.label :total_quantity_oz, class: 'input-label' %>
    <%= form.number_field :total_quantity_oz, step: 0.01, min: 0, class: 'input-field' %>
  </div>

  <div class="my-4">
    <%= form.label :total_cost, 'Total Cost ($)', class: 'input-label' %>
    <%= form.number_field :total_cost, step: 0.01, min: 0, class: 'input-field' %>
  </div>

  <div class="my-4">
    <%= form.label :source, class: 'input-label' %>
    <%= form.text_field :source, class: 'input-field' %>
  </div>

  <div class="flex justify-center gap-4 mt-4">
    <% if ingredient_purchase.new_record? %>
      <%= form.submit('Create Purchase', class: 'btn-primary') %>
      <%= form.submit('Create and Make Another', class: 'btn-primary', name: 'make_another') %>
    <% else %>
      <%= form.submit(nil, class: 'btn-primary') %>
    <% end %>
  </div>
<% end %>
