<div id="<%= dom_id ingredient_purchase %>">
  <p>
    <strong>Purchased on:</strong>
    <%= ingredient_purchase.purchased_on %>
  </p>

  <p>
    <strong>Total quantity oz:</strong>
    <%= ingredient_purchase.total_quantity_oz %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= ingredient_purchase.total_cost %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= ingredient_purchase.source %>
  </p>

</div>
