<p style="color: green"><%= notice %></p>

<%= render @ingredient_purchase %>

<div>
  <%= link_to "Edit this ingredient purchase", edit_ingredient_purchase_path(@ingredient_purchase) %> |
  <%= link_to "Back to ingredient purchases", ingredient_purchases_path %>

  <%= button_to "Destroy this ingredient purchase", @ingredient_purchase, method: :delete %>
</div>
