<%= form_with(model: ingredient, class: 'border rounded drop-shadow p-4 inline-block mx-auto') do |form| %>
  <div class="my-4">
    <%= form.label :name, class: "input-label" %>
    <%= form.text_field :name, class: "input-field", autofocus: true %>
  </div>

  <div class="my-4">
    <%= form.label :ingredient_type, class: "input-label" %>
    <%= form.select :ingredient_type, ingredient_type_select_options, {}, class: "input-field" %>
  </div>

  <div class="my-4">
    <%= form.label :default_cost_per_gram, 'Cost per gram ($)', class: "input-label" %>
    <%= form.number_field :default_cost_per_gram, min: 0, step: 'any', class: "input-field" %>
  </div>

  <div class="flex justify-center mt-4">
    <%= form.submit(nil, class: 'btn-primary') %>
  </div>
<% end %>
  