<%= form_with(model: batch, class: 'border rounded drop-shadow p-4 inline-block mx-auto') do |form| %>
  <div class="flex gap-4">
    <div class="flex-1">
      <div class="my-4">
        <%= form.label :name, class: 'input-label' %>
        <%= form.text_field :name, class: 'input-field' %>
      </div>

      <div class="my-4">
        <%= form.label :manufactured_on, class: 'input-label' %>
        <%= form.date_field :manufactured_on, class: 'input-field' %>
      </div>

      <div class="my-4">
        <%= form.label :units_produced, class: 'input-label' %>
        <%= form.text_field :units_produced, class: 'input-field' %>
      </div>

      <% @batch.images.each do |image| %>
        <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
      <% end %>
      <%= form.file_field :images, multiple: true, accept: 'image/*' %>
    </div>

    <div class="flex-1">
      <table class="w-full text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase ">
          <tr>
            <th scope="col" class="px-2 py-1">Ingredient Purchase</th>
            <th scope="col" class="px-2 py-1">Quantity (Oz)</th>
            <th scope="col" class="px-2 py-1"></th>
          </tr>
        </thead>
        <tbody id="line-item-table-body">
          <%= form.fields_for :batch_line_items do |line_item_form| %>
            <%= render partial: 'item_form_row', locals: { form: line_item_form } %>
          <% end %>
        </tbody>
      </table>
      <div class="flex justify-center mt-4">
        <template id="line-item-template">
          <%= form.fields_for :batch_line_items, BatchLineItem.new, child_index: 'CHILD_INDEX' do |line_item_form| %>
            <%= render partial: 'item_form_row', locals: { form: line_item_form } %>
          <% end %>
        </template>
        <button class="px-4 py-1 text-sm bg-blue-200 btn-secondary hover:bg-blue-300" id="add-batch-line-item">Add Item</button>
      </div>
    </div>
  </div>

  <div class="flex justify-center gap-4 mt-4">
    <%= form.submit(nil, class: 'btn-primary') %>
  </div>
<% end %>
