<tr draggable="true" data-item-row data-persisted="<%= form.object.persisted? ? 'persisted' : 'not-persisted' %>">
  <td>
    <div class="cursor-move drag-handle">
      <%= image_tag 'drag_indicator.svg', alt: 'drag' %>
    </div>
  </td>
  <td class="px-2">
    <% if form.object.persisted? %>
      <%= form.hidden_field :id %>
    <% end %>
    <%= form.hidden_field :seq %>
    <%= form.hidden_field :_destroy, value: form.object.marked_for_destruction? ? '1' : '0' %>
    <%= form.select :ingredient_id, grouped_ingredient_select_options, {}, class: 'input-field w-full' %>
  </td>
  <td class="pl-2">
    <%= form.number_field :quantity, step: 0.01, min: 0, class: 'input-field' %>
  </td>
  <td class="pr-2">
    <%= form.select :quantity_unit, unit_select_options, {}, class: 'input-field' %>
  </td>
  <td class="px-2">
    <%= form.number_field :cost_per_unit, step: 0.01, min: 0, class: 'input-field' %>
  </td>
  <td>
    <button class="items-center justify-center w-6 h-6 text-white bg-red-700 rounded-full fle hover:bg-red-800" data-remove-button>&#x2715;</button>
  </td>
</tr>