<p style="color: green"><%= notice %></p>

<%= render @batch_line_item %>

<div>
  <%= link_to "Edit this batch line item", edit_batch_line_item_path(@batch_line_item) %> |
  <%= link_to "Back to batch line items", batch_line_items_path %>

  <%= button_to "Destroy this batch line item", @batch_line_item, method: :delete %>
</div>
